
.STYLE11 {font-size: 12px; font-family: "宋体"; }
.STYLE22 {font-size: 11px; font-weight: bold; }
.STYLE24 {color: #FF0000}
.STYLE25 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #8c868c;
}
.STYLE26 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.STYLE32 {font-family: Verdana, Arial, Helvetica, sans-serif}
.STYLE33 {font-size: 9pt}
.STYLE39 {color: #8c868c}
.STYLE42 {font-size: 12px; line-height: 16px; font-family: Verdana, Arial, Helvetica, sans-serif;}
.STYLE43 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: #676367;
}
.STYLE52 {
	color: #ff6600;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
.STYLE53 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FF6600;
	font-weight: bold;
}