/* $Id: style.css,v 1.38.2.4 2009/09/14 13:10:47 goba Exp $ */

#c3workflow_world1 {
    background-color: white;
	float: left;
    margin: 0 auto 0 auto;
    width: 600px;
    height: 68px;
    border: 1px solid gray;
    border-radius: 3px;
}

#c3workflow_world2 {
    background-color: white;
	float: left;
    margin: 0 auto 0 auto;
    width: 600px;
    height: 68px;
    border: 1px solid gray;
    border-radius: 3px;
}

#c3workflow_world3 {
    background-color: white;
	float: left;
    margin: 0 auto 0 auto;
    width: 600px;
    height: 68px;
    border: 1px solid gray;
    border-radius: 3px;
}

#c3workflow_world4 {
    background-color: white;
	float: left;
    margin: 0 auto 0 auto;
    width: 600px;
    height: 68px;
    border: 1px solid gray;
    border-radius: 3px;
}

#c3workflow_world5 {
    background-color: white;
	float: left;
    margin: 0 auto 0 auto;
    width: 600px;
    height: 68px;
    border: 1px solid gray;
    border-radius: 3px;
}