path.arc {
  cursor: move;
  fill: #fff;
}

.d3node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.d3node {
  font-size: 10px;
  pointer-events: none;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
